/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

#entete {
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#entete img {
    width: 100px;
    height: auto;
}

#entete p {
    margin: 0;
    text-align: center;
    flex-grow: 1; /* Permet à cet élément de remplir l'espace disponible */
}

#barre {
    background-color: #555;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btn {
    cursor: pointer;
}

.btn p {
    margin: 0;
    color: white;
    text-decoration: underline;
    cursor: pointer;
}

.btn p:hover {
    color: #ddd;
}

.information {
    padding: 20px;
    background-color: white;
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.information p {
    margin: 10px 0;
    font-size: 1em;
    color: #333;
}

/* Stylisation spécifique pour le formulaire */
form {
    display: inline;
}

form p {
    margin: 0;
    color: white;
    cursor: pointer;
}


/* Style pour l'input de soumission ressemblant à une balise <p> */
.submit-button-as-p {
    background: none;
    border: none;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    font: inherit; /* Hérite des styles de police du parent */
    padding: 0;
    display: inline; /* S'assure qu'il se comporte comme une balise <p> */
}

.submit-button-as-p:hover {
    color: darkblue;
}


input[type="submit"] {
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #555;
}

input[type="submit"]{
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}